
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Source+Sans+3:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
.font-inter {
  font-family: 'Inter', 'Open Sans', sans-serif;
}
.font-poppins {
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

.ql-editor ul,
.ql-editor ol {
  padding-left: 1.25em;
  margin: 0.75em 0;
}

.ql-editor ul {
  list-style-type: disc;
}

.ql-editor ol {
  list-style-type: decimal;
}

.ql-editor li {
  margin: 0.25em 0;
}
